extends layout

block content
    .container
        h1 Continuum.js Sample 
        form
            input.form-control(type='file', multiple)
            br
            div#ok(style='width: 100%; height: 400px; background-color: #dddddd; text-align: center; display: table')
                span(style='display: table-cell; vertical-align: middle;') Drop Files here
    script.
        var continuum = new Continuum({chunkSize: 1024 * 1024});
        continuum.assignDrop($('div#ok')[0]);
