doctype html
html
  head
    title= title
    script(src='http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js')
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/continuum.min.js')
  body
    block content
